/* contains Header, Nav */


.home_container{
    margin: 0 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
}
/* HEADER */

.header_link{
  text-decoration: none;
}

.header_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    font-size: calc(10px + 2vmin);
    color: rgb(0, 0, 0);
  }
  
.header_container h1{
    font-family: 'Radio-Canada', sans-serif;
    margin: 0;
    text-transform: capitalize;
  }
  
.header_container p{
    margin: 0;
    text-transform: capitalize;
    font-size: medium;
  }

/* NAV */
/* 
.nav_bar{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
} */

.nav_bar ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    list-style-type: none;
}

.nav_bar ul li{
    padding: 10px;
}

.nav_bar li a{
    text-decoration: none;
    color: black;
}